@charset "utf-8";

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 10px;
    z-index: 99;
    background-color: var(--light-black);
    box-shadow: 0 3px 7px 3px var(--darkest-black);
}

header.rainbow {
    border-top: solid 3px transparent;
    border-image: linear-gradient(to right, var(--accent) 0%, #8216C9 100%);
    border-image-slice: 1;
}

header.tricolor {
    border-top: solid 3px transparent;
    border-image: linear-gradient(to right, #008B66 0%, #008B66 30%, #FFF 33%, #FFF 66%, #C7293C 70%);
    border-image-slice: 1;
}

header a {
    display: flex;
    align-items: center;
    height: inherit;
}

header img {
    height: inherit;
    padding-right: 10px;
}

header span {
    font-size: 20px;
    font-weight: bold;
}

header .link-wrapper {
    height: inherit;
    display: inline-block;
}