@charset "utf-8";

section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section p {
    width: 60vw;
}

section.light {
    background-color: var(--grey);
    color: white;
}

svg.light {
    fill: var(--grey);
}

.section-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.main-section-content {
    z-index: 1;
}

.v-separator {
    display: none;
}

@media(max-width: 1000px) {
    section p {
        width: auto;
    }

    .section-content {
        flex-direction: column;
    }

    .v-separator {
        display: block;
    }

    .h-separator {
        display: none;
    }
}