@charset "utf-8";

.terms-inner {
    margin: 10% 0;
    width: 60%;
}

.terms-section {
    margin-top: 50px;
}

.terms-main-title {
    font-size: 50px;
    text-align: center;
}

h1 {
    text-align: initial;
    color: var(--accent);
}

ul {
    list-style-type: none;
}